.main-footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--background-color);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}