<div class="product-card" *ngIf="produto && variacao">
  <img src="../../../../../assets/carrinho.jpg" 
       [alt]="produto.nome" 
       class="card-image">

  <div class="card-content">
    <h3 class="card-title">{{ produto.nome }}</h3>
    <p class="card-variation-details">{{ variacao.tamanho }} / {{ variacao.cor }}</p>
    <p class="card-description">{{ produto.descricao }}</p>
  </div>
  
  <div class="card-actions">
    <form [formGroup]="selecaoForm" (ngSubmit)="adicionarAoCarrinho()">
      
      <div class="stock-info">
        <span>Preço: {{ variacao.preco | currency:'BRL' }}</span>
      </div>

      <div class="quantity-selector">
        <input type="number" formControlName="quantidade" min="1" [max]="maxQuantidadePermitida">
      </div>

      <button type="submit" [disabled]="selecaoForm.invalid || !estoqueDisponivel" class="add-to-cart-button">
        {{ estoqueDisponivel ? 'Comprar' : 'Estoque Esgotado' }}
      </button>
    </form>
  </div>
</div>
