<header class="main-header">
    <div class="logo">
        <a [routerLink]="titleLink">{{ title }}</a>
    </div>
    <nav class="main-nav">
        <ul>
            <li *ngFor="let link of navLinks">
                <a [routerLink]="link.path" routerLinkActive="active-link">{{ link.label }}</a>
            </li>
        </ul>
    </nav>
    <div class="header-actions">
        <a *ngIf="usuarioAtual$ | async" routerLink="/shop/carrinho" class="cart-link">
            <i class="fa-solid fa-shopping-cart"></i>
            <span *ngIf="(totalItensCarrinho$ | async) as total" class="cart-badge">{{ total }}</span>
        </a>
        <button (click)="logout()" class="logout-button" *ngIf="usuarioAtual$ | async">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="logout-text">Sair</span>
        </button>
    </div>
</header>